body {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    padding-right: 35px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu-opcoes ul {
    font-size: 15px;
    color: #036;
}

.menu-opcoes ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu-opcoes a:hover {
    color: #007dc6;
}

.menu-opcoes a:active {
    color: #867dc6;
}

section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #dcdcdc;
    width: 230px;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="search"] {
    border-radius: 10px;
    border: 1px solid #acacac;
    padding-left: 8px;
}

button {
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    border: none;
}

.menu-departamentos {
    background-color: #dcdcdc;
    width: 230px;
    padding: 8px 0;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-departamentos h3 {
    padding-bottom: 8px;
    padding-left: 8px;
}

.menu-departamentos li {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding: 4px 8px;
}

.menu-departamentos li:hover ul {
    display: inline-block;
}

.menu-departamentos li a {
    color: #333;
    text-decoration: none;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li ul li {
    background-color: #dcdcdc;
}

.menu-departamentos li li a::before {
    content: ' -';
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.painel li {
    width: 140px;
    padding-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #f5dcdc;
}

.mais-vendidos {
    background-color: #dcdcf5;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    padding: 20px 0;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
}

.social a {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: -9999px;
    margin-left: 8px;
}

a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

a[href*="gplus.com"] {
    background-image: url(../img/googleplus.png);
}